.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;

}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow--list {
    transition: all ease 0.5s;
}

.movieRow--item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

/***********************************************************/

.row-cards {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0 10px;
    transition: all ease 0.5s;
    align-items: center;
  }
  
  .row-cards::-webkit-scrollbar {
    display: none;
  }
  
  .movie-card {
    width: 150px;
    height: 225px;
    cursor: pointer;
    transform: scale(0.9);
  }
  
  .movie-card-large {
    width: 600px;
    height: 350px;
    transform: scale(0.95);
    transition: all ease 0.2s;
    cursor: pointer;
  }

  .movie-card {
    cursor: pointer;
  }

  .movie-card:hover, .movie-card-large:hover {
    transform: scale(1);
  }


/***********************************************************/

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--left, .movieRow--right {
    position: absolute;
    width: 40px;
    height: 80px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.5s;
}

.movieRow--left {
    left: 0;
}

.movieRow--right {
    right: 0;
}

@media (max-width: 760px) {
    .movieRow--left,
    .movieRow--right {
        opacity: 1;
        height: 205px;
        margin-top: 10px;
    }
}